@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('/assets/fonts/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
		url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('/assets/fonts/ProximaNova-Light.eot');
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
		url('/assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/ProximaNova-Light.woff') format('woff'),
		url('/assets/fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
.grad {
    background: linear-gradient(15deg, #cb0035 0%, #e06900 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/**main styles **/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova Rg";

}
/**end of main**/

/**header style**/
header {
    margin: auto;
    /*background-image: linear-gradient(39deg, #cb0035 0%, #e06900 100%);*/
    top: 0;
    justify-content: center;
    overflow: hidden;
}
.scrolled {
    background-image: linear-gradient(39deg, #cb0035 0%, #e06900 100%);
    position: fixed;
    min-height: 75px;
    width: 100%;
    z-index: 9;
    width: 100%;
}
nav {
    margin: auto;
}
.navbar-brand{
    font-size: 36px!important;
}
.nav-block {
    justify-content: flex-end;
}
.navbar-brand,.nav-link {
    color: white!important;
    font-size: 18px;
}
.nav-link:hover{
border-radius: 18px;
border: 1px solid rgba(255, 255, 255, 0.31);
}
.nav-link{
    border-radius: 18px;
    border: 1px solid transparent;
}
.nav-item{
    margin: 10px 15px;
}



/**end of header**/
/**content**/
.or-cont {
    background: url('/assets/images/bg-main@2x.jpg') no-repeat;
    background-size: cover;
    padding: 200px 10px 50px 10px;
    height: 100vh;
    position: relative;
}

.or-block {
    color: white;
    max-width: 550px;
    margin: 0 auto 100px auto!important;
    text-align: center;
}

.or-block h1 {
    font-size: 48px;
}
.or-block p {
font-size: 18px;
max-width: 550px;
margin: 20px 0 50px 0;
}
.max-w {
max-width: 1200px;
margin-left: auto!important;
margin-right: auto!important;
}
.btn-blck{
    max-width: 400px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;

}
.bb-link{
    color: white;
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.31);
    padding: 12px 40px;
    transition: background-color 0.7s ease;
}
.bb-link:hover{
text-decoration: none;
border-color: white;
background-color: white;
color: #d32721;
}
.fas {
    margin-right: 17px;
    margin-left: -11px;
}
.scroll-blk{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 72px;
    margin: auto;  
}
.scroll-blk img{
    width: 25px;
    margin: auto;
    display: block;
}
.scroll-blk p{
    font-size: 14px;
    opacity: 0.3;
    margin: 10px 0;
}
.descr{
    padding: 100px 0 0 0;
    overflow: hidden;
    margin: auto;
    background-color: #f6f6f6;
}
.descr-in {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.id-img{
    display: flex;
    align-content: center;
    height: 90px;
}
.id-img img {
    max-width: 84px;
    max-height: 80px;
    margin: auto;
    display: block;
}

.id-header p{
    background: linear-gradient(15deg, #cb0035 0%, #e06900 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    padding: 10px 0 0 0;
}
.id-text{
    color: #5e6372;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 240px;
}
.bbl{
    margin: 100px auto;
    max-width: 200px;
    
}
.bb-link-blue{
    background-image: linear-gradient(-152deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: #264699;
    margin: auto;
    text-align: center;
    transition: background-color 0.7s ease;
}
.bb-link-blue:hover{

    background-image: linear-gradient(39deg, #cb0035 0%, #e06900 100%);
    background-color: #e06900;
    color: white;
}
.features {
    background: url('/assets/images/Drone@2x.jpg') no-repeat right center;
    background-size: 50%;
}
.feat-in{
    max-width: 1200px;
    margin: auto;
    padding-top: 120px;

}
.feat-in ol {
    list-style: none;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 55px;
    justify-content: space-between;
}
.feat-in li{
 display: block;
 position: relative;
 counter-increment: inst;
 margin: 30px 0;
 max-width: 45%;
}
.feat-in li::before{
    content: counter(inst);
    right: 104%; 
    top:0%;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #c7cde0;
    padding: 10px;
    height: 45px;
    width: 45px;
    text-align:center;
    color: #3f4e76;;
    font-size: 110%;
}
.feat-in h1, .vid-descr h1{
    background: linear-gradient(15deg, #cb0035 0%, #e06900 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.feat-in p{
    padding: 30px 0;
    max-width: 775px;
    font-size: 18px;
}
.vid-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f6f6f6;
    margin-bottom: -8px;

}
.vid {
    width: 50%;
}
.vid iframe {
    width: 100%;
    min-height: 640px;
    height: 100%;
}
.vid-descr {
padding: 10px 80px;
max-width: 560px;
}
.vid-descr .bbl {
    margin: 60px 0;
}
.vb-2 {
    justify-content: flex-end;
}
.vb-2 .vid {
    order: 2;
}
.vb-2 .vid-descr{
order: 1;
}
.vb-2 .vid-descr {
    padding-left: 0;
    max-width: 600px;
}
.news {
    background: url(/assets/images/news-back.png) no-repeat;
    background-size: cover;
    padding: 180px 0;
    position: relative;
}
.news:before{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    background-image: linear-gradient(26deg, #cb0035 15%, #e06900 100%);
    opacity: 0.8;
    background-size: cover;
}
.news-in {
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.news h1 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 50px 0;
}
.mb-2{
    margin: auto;
}

#Email {
width: 304px;
height: 50px;
border-radius: 25px;
border: 1px solid #ffffff7a;
background-color: rgba(255,255,255,0.2);
padding-right: 45px;
color: white;
}
#Email::placeholder{
    color: #ffffff;
}
.email-btn{
    width: 134px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    margin-left: -45px;
    border: none;
    color: #d32721;
    font-size: 18px;
    z-index: 1;
    transition: font-size 0.3s ease;
}
.email-btn:hover{
    font-size: 20px;
}
#map iframe {
    width: 100%;
}
footer {
    color: #a7acbc;
font-family: "Proxima Nova";
font-size: 18px;
font-weight: 300;
line-height: 36px;
text-align: center;
padding: 50px 10px;
}
footer a{
    color: #a7acbc;
    text-decoration: none;
    font-weight: bold;
}